* {
    transition: 500ms ease-in-out;
}

.card{
    position: relative;
    flex: 1 1 400px;
    aspect-ratio: 4/3;
    height: 100%;

    background-color: var(--bg-color);
    border-radius: 10px;
    margin: 5px;
    overflow: hidden;
}

.thumbnail {
    width: 100%;
    height: 100%;
    z-index: 0;
    object-fit: cover;
}

.card:hover .imgInfo {
    opacity: 1;

    border-radius: 10px;
}

.imgInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color);
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    top: 92%;
    left: 0px;
    padding: 0px 10px 10px 10px;

}

.imgInfo:hover {
    top: 0px;
}

#expandir {
    width: 90%;
    margin-bottom: 10px;
}

#infoText {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#user {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

#user img {
    width: 120px;
    border-radius: 50%;
    margin: 10px;
    border: 8px double var(--borde-rosa);
    box-shadow: 3px 3px 20px var(--color-sombra);
}


#imgOptions {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
}

.imgInfo {
    transform-origin: 5px 2px;
}


.grow{
    cursor: pointer;
    transition: 200ms ease-in-out;
    /* transform-origin: 5px 2px; */
}
.grow:hover {
    scale: var(--escala);
}