
.about{
    background-color: var(--bg-color-light);
    width: 70%;
    max-width: 1500px;

    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    overflow-y: auto;
    scrollbar-color: var(--bg-color-light) var(--bg-color);
}



.about p{
    text-indent: 3em;
    margin-top: 2em;
}