.home{
    font-family: var(--fuente-secundaria);
    background-color: var(--bg-color-light);
    width: 350px;
    max-width: 1500px;

    border-radius: 50%;
    

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;


}

.logoHome {
    width: 80%;

}