.history{
    background-color: var(--bg-color-light);
    width: 90%;


    border-radius: 15px;
    

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    overflow-y: auto;
    scrollbar-color: var(--bg-color-light) var(--bg-color);
}

h2{
    padding: 25px 0px 20px 0px;
}

.favContainer {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
}

.favorito {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 10px;
    margin-bottom: 40px;
}

.favImg {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 5px 8px var(--color-sombra);
}

.favorito p {
    text-align: center;
    margin: 2px;
}

.favOptions{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.optionButton {
    opacity: 0.5;
}

.downloadButton:hover {
    opacity: 1;
    color: var(--borde-turquesa);
    text-decoration: underline;

    rotate: var(--rotacion); 
}

.deleteButton:hover {
    opacity: 1;
    color: var(--borde-rosa);
    text-decoration: underline;

    rotate: var(--rotacion);
}

.description{
    font-style: italic;
}

.usr{
    font-weight: bold;
}
