
.userResults{
    background-color: var(--bg-color-light);
    width: 100%;
    max-width: 90%;

    border-radius: 15px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    overflow-y: auto;
    scrollbar-color: var(--bg-color-light) var(--bg-color);
}


.userTitle {
    padding: 15px 10px 15px 20px;
}

.userCardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.userPhoto {
    width: 120px;
    border-radius: 50%;
    margin: 10px;
    border: 8px double var(--borde-turquesa);
    box-shadow: 3px 3px 20px var(--color-sombra);
}